// @import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html {
  margin: 0;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

#temp {
  width: 200px;
  height: 200px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background-color: pink;
  border: 2px solid black;
}
.dashboard {
  background-color: rgba(240, 240, 240, 1);
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 10% 90%;
  grid-template-areas:
    'nav nav nav nav'
    'profile closet closet closet';
}

.user-container {
  background-color: rgba(0, 0, 0, 0.25);
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
  grid-area: profile;
  margin: 16px;
}

.content-container {
  background-color: rgba(0, 0, 0, 0.25);
  grid-area: closet;
  margin: 16px;
  padding: 16px;
  overflow-y: scroll;
}

.nav {
  background-color: rgba(0, 0, 0, 0.25);
  grid-area: nav;
  margin: 16px 16px 0 16px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-content: flex-start;
  justify-content: space-between;
}
.closet {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.item-card {
  width: 250px;
  height: 300px;
  border: 1px solid black;
  background-color: rgb(250, 250, 250);
  display: flex;
  flex-flow: row;
  align-items: flex-start;
  justify-content: center;
  margin: 16px;

  input {
    width: 80%;
    padding: 8px;
    text-align: center;
    font-size: 1.5em;
    background: none;
    border: none;
    &:focus {
      outline: 1px solid black;
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}

.item-describe,
.item-view {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
  max-width: 90%;
  max-width: 90%;

  form {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
  }
}

img.item-image {
  border: 1px solid black;
  max-width: 90%;
  max-height: 90%;
}

.content-nav {
  margin: 16px;
}

.InputDisplay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#logo {
  width: 80%;
  height: 80%;
}

#navButton {
  width: 7rem;
  height: 3rem;
  text-decoration: none;
  border-radius: 10px;
}

.Nav {
  list-style-type: none;
  font-family: 'Roboto', sans-serif;
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.inputBox {
  display: flex;
  width: 7rem;
}

.dropDowns {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1rem;
}

#Textlogo {
  width: 50%;
  height: 50%;
}

.rows {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.rowImage {
  width: 2rem;
}

.inputConsole {
  flex-direction: row;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
p,
h3 {
  font-family: 'Roboto', sans-serif;
  margin-right: 0.5rem;
}

a {
  text-decoration: none;
  color: black;
}

.Nav {
  color: black;
  font-size: 2rem;
}

a span:hover {
  color: #e8a832;
}

#viewCloset {
  border-radius: 3px;
  font-family: 'Roboto', sans-serif;
  background-color: white;
  font-size: 3rem;
}

#viewCloset:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

#viewCloset:active {
  background-color: white;
  transform: scale(0.99);
}

#addtoCloset {
  font-size: 3rem;
}
.color {
  height: 1.2rem;
}
.clothingType {
  height: 1.2rem;
}

.columnTitles {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  margin-top: 5rem;
}
#uploadImage {
  margin-right: 22rem;
}
